body {
  margin: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  overflow-x: hidden;
  padding: 0;
}

.PagePadding {
  padding: 20px 0 20px 20px;
}

header {
  margin-right: 0;
  width: calc(100% - 20px);
}

@media screen and (max-width: 700px) {
  header {
    width: calc(100% - 20px);
  }
}

.title {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 5px;
}

.subtitle {
  font-weight: 600;
  margin-top: 5px;
  font-size: 1.5rem;
}

@media screen and (max-width: 700px) {
  nav {
    width: calc(100% - 20px);
  }
}

.boxesScroll {
  display: flex;
  max-width: calc(100vw - 20px);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.boxesScroll::-webkit-scrollbar {
  display: none;
}

.box {
  height: 350px;
  width: 250px;
  flex-shrink: 0;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 30px;
  color: white;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

.box p {
  margin: 10px 0;
}

.boxActive {
  margin-top: 0;
}

.boxCreate {
  background: rgb(138, 62, 70);
  background: linear-gradient(0deg, rgba(138, 62, 70, 1) 0%, rgba(199, 70, 62, 1) 100%);
}

.boxCall {
  background: rgb(199, 46, 45);
  background: linear-gradient(0deg, rgba(199, 46, 45, 1) 0%, rgba(214, 121, 77, 1) 100%);
}

.boxInfo {
  background: rgb(210, 99, 0);
  background: linear-gradient(0deg, rgba(210, 99, 0, 1) 0%, rgba(255, 178, 49, 1) 100%);
}

.boxSupport {
  background: rgb(161, 58, 60);
  background: linear-gradient(0deg, rgba(161, 58, 60, 1) 0%, rgba(219, 146, 123, 1) 100%);
}

.boxSwitch {
  background: rgb(210, 66, 83);
  background: linear-gradient(0deg, rgba(210, 66, 83, 1) 0%, rgba(222, 120, 57, 1) 100%);
}

.boxImg {
  height: 190px;
  width: 190px;
  filter: drop-shadow(0 0 10px #222);
  margin: 30px;
}

.container {
  max-width: calc(100vw - 20px);
  display: none;
  margin-top: 40px;
}

@media screen and (max-width: 700px) {
  .container {
    width: calc(100% - 20px);
  }
}

.containerActive {
  display: block;
}

.createFlexBox {
  display: flex;
  flex-wrap: wrap;
}

.createTextarea {
  height: 400px;
  width: 400px;
}

.textareaLink {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  resize: none;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid #D5CDCB;
}

.createForm {
  height: 400px;
  width: 300px;
}

.containerBox {
  margin-right: 20px;
}

@media screen and (max-width: 700px) {
  .containerBox {
    width: calc(100% - 20px);
    margin-bottom: 10px;
  }
}

.formTitle {
  height: calc(100%/5);
}

.formTitle_title {
  height: auto;
  margin: 0;
}

.formTitle_input {
  border-radius: 6px;
  width: calc(100% - 10px);
  height: calc(60% - 8px);
  border-radius: 10px;
  border: 3px solid #D5CDCB;
}

.formTime {
  height: calc(100%/5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: flex-start
}

.formTime_title_start, .formTime_title_end {
  height: auto;
  margin: 0;
  width: calc(49% - 3px);
}

.formTime_input_start, .formTime_input_end {
  width: calc(49% - 10px);
  height: calc(60% - 8px);
  border-radius: 10px;
  border: 3px solid #D5CDCB;
}

.formDate {
  height: calc(100%/5);
}

.formDate_title {
  height: auto;
  margin: 0;
} 

.formDate_input {
  height: calc(60% - 8px);
  width: calc(100% - 7px);
  border-radius: 10px;
  border: 3px solid #D5CDCB;
}

.formTimezone { 
  height: calc(100%/5);
}

.formTimezone_title {
  height: auto;
  margin: 0;
}

.formTimezone_input {
  width: calc(100% - 10px);
  height: calc(60% - 8px);
  border-radius: 10px;
  border: 3px solid #D5CDCB;
}

.formField {
  height: calc(100%/5);
}

.formField_title {
  height: 20%;
  margin: 0;
}

.formField_buttons {
  height: 80%;
  display: flex;
  justify-content: space-between;
}

.formField_buttons > button {
  width: calc(49% - 3px);
  height: 100%;
  border: 3px solid transparent;
  border-radius: 10px;
  background-color: #ebebeb;
}







.footer {
  font-size: 1rem;
  font-family: 'Exo 2', sans-serif;
  width: calc(100% - 20px);
}

@media screen and (max-width: 700px) {
  footer {
    width: calc(100% - 20px);
  }
}

.footerSpace {
  height: 70px;
}

.footerPar {
  margin: 0;
}


