body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

header {
  padding-top: 20px;
  padding-left: 20px;
}

nav {
  padding-left: 20px;
}

.title {
  font-family: 'Exo 2', sans-serif;
  font-weight: 700;
  font-size: 3rem;
  margin-top: 0px;
  margin-bottom: 5px;
}

.subtitle {
  font-weight: 600;
  margin-top: 5px;
  font-size: 1.5rem;
}

.boxesScroll {
  display: flex;
  max-width: calc(100vw - 20px);
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding-left: 20px;
}

.boxesScroll::-webkit-scrollbar {
  display: none;
}

.box {
  height: 350px;
  width: 250px;
  flex-shrink: 0;
  margin-right: 20px;
  margin-top: 20px;
  border-radius: 30px;
  color: white;
  font-size: 1.7rem;
  text-align: center;
  font-family: 'Exo 2', sans-serif;
}

.box p {
  margin: 10px 0;
}

.boxActive {
  margin-top: 0;
}

.boxCreate {
  background: rgb(138, 62, 70);
  background: linear-gradient(0deg, rgba(138, 62, 70, 1) 0%, rgba(199, 70, 62, 1) 100%);
}

.boxCall {
  background: rgb(199, 46, 45);
  background: linear-gradient(0deg, rgba(199, 46, 45, 1) 0%, rgba(214, 121, 77, 1) 100%);
}

.boxInfo {
  background: rgb(210, 99, 0);
  background: linear-gradient(0deg, rgba(210, 99, 0, 1) 0%, rgba(255, 178, 49, 1) 100%);
}

.boxSupport {
  background: rgb(161, 58, 60);
  background: linear-gradient(0deg, rgba(161, 58, 60, 1) 0%, rgba(219, 146, 123, 1) 100%);
}

.boxSwitch {
  background: rgb(210, 66, 83);
  background: linear-gradient(0deg, rgba(210, 66, 83, 1) 0%, rgba(222, 120, 57, 1) 100%);
}

.boxImg {
  height: 190px;
  width: 190px;
  filter: drop-shadow(0 0 10px #222);
  margin: 30px;
}

.container {
  padding-left: 20px;
  max-width: calc(100vw - 20px);
  display: none;
}

.containerActive {
  display: block;
}

.containerCreate {
  margin-top: 40px;
}

.createFlexBox {
  display: flex;
  flex-wrap: wrap;
}

.createFlexBox > div {
  margin-right: 20px;
}

.createTextarea {
  height: 300px;
  width: 400px;
}

.textareaLink {
  height: calc(100% - 16px);
  width: calc(100% - 16px);
  resize: none;
  border-radius: 10px;
  padding: 5px;
  border: 3px solid #D5CDCB;
}

.createForm {
  height: 300px;
  width: 300px;
  background-color: lightcoral;
}

.formTitle {
  height: calc(100%/6);
}

.formTitle_title {
  height: 40%;
  margin: 0;
}

.formTitle_input {
  border-radius: 6px;
  border: 1px solid black;
  width: calc(100% - 6px);
  height: 60%
}

.formLink {
  height: calc(100%/6);
}

.formLink_title {
  height: 40%;
  margin: 0;
}

.formLink_link {
  margin: 0;
  height: 60%;
}

.formTime {
  height: calc(100%/6);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.formTime_title_start, .formTime_title_end {
  height: 40%;
  margin: 0;
  width: 49%;
}

.formTime_input_start, .formTime_input_end {
  width: calc(49% - 5px);
  height: 60%;
}

.formDate {
  height: calc(100%/6);
}

.formDate_title {
  height: 40%;
  margin: 0;
} 

.formDate_input {
  height: 60%;
  width: calc(100% - 5px);
}

.formTimezone { 
  height: calc(100%/6);
}

.formTimezone_title {
  height: 40%;
  margin: 0;
}

.formTimezone_input {
  width: calc(100% - 8px);
  height: 60%;
}

.formField {
  height: calc(100%/6);
}

.formField_title {
  height: 40%;
  margin: 0;
}

.formField_buttons {
  height: 60%;
  display: flex;
  justify-content: space-between;
}

.formField_buttons > button {
  width: 49%;
  height: 100%;
}

.formCheck {
  height: 200px;
  width: 50px;
  background-color: lightsalmon;
}




